ul.nav li {
  text-decoration: none;
  background-color: Gray;
  margin: 10px;
  padding: 25px;

}

li {
  background-color: #525454;
  color: #fff;
  Padding: 40px;
  border: 2px;
  border-color: black;
  display: inline-block;

}

.box {
  display: inline-block;
  width: 40%;
}

img {
   width: 60%;
   padding: 10px;
   margin: 10px;

}

.html {
  background-color: #2BA8E0;
}

.css {
  background-color: #EE6526;
}

body {
  text-align: center;
}

#div {
  background-color: navy;
  height: 100px;
  width: 100px;
  border-radius: 100%

}

#div2 {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;

}
