ul {
  text-decoration: none;
  background-color: Gray;
  margin: 10px;
  padding: 10px;
  font-family: "Kaushan Script"
}

li {
  background-color: #525454;
  color: #fff;
  Padding: 10px;
  border: 2px;
  margin: 0 20px;
  border-color: black;
  display: inline-block;
  font-size: 40px;

}

.box {
  display: inline-block;
  width: 40%;
}

img {
   width: 20%;
   height: 20%;
   padding: 10px;
   margin: auto;

}
iframe {
  border-radius: 1%;
  border: 2px;
  border-color: black;
  display: inline-block;
  margin: 10px;
}

.html {
  background-color: #2BA8E0;
}

.css {
  background-color: #EE6526;
}

body {
  text-align: center;
  font-family: "Marck Script"
}

p {
  font-size: 25px;
}

Button {
  margin: 20px 0;
  padding: 20px;
  border: 2px;
  background-color: gray;;
  font-size: 25px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
}

div.button {
  margin: 0 10px;
  display: inline-block;
}

#div {
  background-color: navy;
  height: 100px;
  width: 100px;
  border-radius: 100%
}

a {

}

#div2 {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;

}
